:root {
    --heading-background-color:#DCCCFF;
    --heading-text-color: #46351D;
    --background-color: #EEE3AB;
    --border: 1px #46351D;
    --text: #E8985E;
}
* {
	margin: 0;
	padding: 0 5px 0 5px;
}

header nav{
    padding: 20px;

}
h1 {
    position: absolute;
    top: 140px;
	right: 500px;
	padding: 0.65rem;
	opacity: 0.9;
    color: var(--heading-background-color);
}
article{
    /*border: 1px solid black;*/
    padding: 10px;
}
article p {
    position: absolute;
    text-align: left;
    top: 200px;
    right:450px;
    width:50%;
    height: 10%;
    box-shadow: 0 0 50px var(--background-color);
    background: radial-gradient var(--background-color);
	padding: 7rem 10rem 0.001rem 1rem;
	opacity: 0.9;
    color: var(--heading-background-color);
}

article img {
    position: absolute;
    float: left;
    top: 212px;
	left: 790px;
    width: 95px;
    height: auto;
}
h2 {
    color: var(--heading-text-color);
    padding: 0 0px 0 20px

}
section p {
    color: var(--heading-text-color);
    padding: 0 0px 0 20px
}
.nav {
    color: var(--heading-text-color);

}

.hero div {
    position: relative;
}

ul img {
    width: 100%;
    height: auto;
    display: block;
}

section img {
    width: 700px;
    height: 500px;
    padding: 20px 0px 0 20px;    
}

a img {
    width: 20px;
    height: auto;

}

footer {
    margin-top: auto;
    border-top: var(--border);
    text-align:left;
    padding: 20px;
    
}
