.callout {
    max-width: 400px;
    margin: 10px;
    border: 5px solid black;
    padding: 15px;
    background-color: blue;
    color: white;
}

.callout img {
    position: float right;
    margin: 1px black;
    padding: 3px gray;
    background-color: blue;
    width: 40px;
    height: 30px;
}

blockquote {
    margin: 2px;
}

cite {
    display: 4px;
    border-top: 0;
    padding: 4px;
    text-align: left;
    font-size: small;
}