.callout {
    max-width: 400px;
    margin: 4px;
    border: 0;
    padding: 5px;
    background-color: blue;
    color: white;
}

.callout img {
    position: float;
    margin: 1px black;
    border: 3px solid gray;
    padding: 5px;
    background-color: blue;
    width: 30px;
    height: 40px;
}

blockquote {
    margin: 4px dashed white;
}

cite {
    display: block;
    border-top: 0;
    padding-top: 5px;
    text-align: left;
    font-size: x-small;
}