.callout {
    max-width: 400px;
    margin: 2px;
    border: 0;
    padding: 2px;
    background-color: blue;
    color: white;
}

.callout img {
    float: right;
    margin: 1px;
    border: 3px solid black;
    padding: 5px;
    background-color: gray;
    width: 60px;
    height: 50px;
}

blockquote {
    margin: 4px dashed white;
}

cite {
    display: block;
    border-top: 0;
    padding-top: 5px;
    text-align: right;
    font-size: x-small;
}